<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://cnet1.cbsistatic.com/img/wMDkRmVv4-OBbt3Juv-wMzwG6o0=/1092x0/2019/08/19/59f225a6-0b41-4e3c-b724-741eccbfaee8/screen-shot-2019-08-19-at-10-29-41-am.png">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>